<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign up</title>
</head>
<body>
    <h1>Sign Up</h1>
    <form method="post" action="/user">
        <label>Full Name</label>
        <input type="text" name="name" placeholder="enter your name"/>
        <label>Email</label>
        <input type="email" name="email" placeholder="enter your email" />
        <label>Enter password</label>
        <input type="password" name="password" placeholder="enter the password" />
        <button type="submit">Sign up</button>
    </form>
</body>
</html>